<div class="card-border-light text-center">
    <h4 class="card-header" style="color:green;"><span style="text-color:green">{{title}}</span></h4>
    <div class="card-block text-justify">
      <ng-content></ng-content>  
    </div>
</div>