<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">Denis&GAbi</a>
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle"></i>
            <a class="ml-2"  data-toggle="collapse" data-target="#collapseExample" >{{user.name}} </a>
            <a (click)="logout()">Logout</a>
        </div>


        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Login</a>
            </span>
        </ng-template>
    </nav>
</header>