<h4 class="text-center"> Register to embrace a new world!</h4>
<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    
    <div class="form-group">
        <input  formControlName="email" placeholder="email" class="form-control" autofocus >
        <small *ngIf="signupForm.get('email').errors?.required" class="text-danger d-block mt-2">
                Email is required!
        </small>
        <small *ngIf="signupForm.get('email').errors?.email" class="text-danger d-block mt-2">
                Error Format Email!
        </small>
    </div>
    <div class="form-group">
        <input formControlName="fullName" placeholder="full name" class="form-control">

    </div>
    <div class="form-group">
        <input formControlName="userName" placeholder="user name" class="form-control">

    </div>
    <div class="form-group">
        <input formControlName="password" type="password" placeholder="password" class="form-control">

    </div>
    <button class="btn btn-primary btn-block" (click)="signup()">Register</button>

    <p>Already a user?
        <a [routerLink]="['']"> Sign In!</a>
    </p>
</form>