<div class="text-center mt-3 mb-3">
  <form>
    <i class="fa fa-search mr-2 text-success"></i>
    <input
        class="rounded"
        type="search"
        name="textTyped"
        placeholder="search..."
        (keyup)="debounce.next($event.target.value)"
        autofocus>
  </form>
</div>
<ap-photos [photos]="photos | filterByTextTyped : textTyped"></ap-photos>

