<div class="alert alert-info text-center" *ngIf="photos.length == 0" role="alert"> <i class="fa fa-exclamation-triangle"
    aria-hidden="true"></i> <strong>Não há fotos para esse filtro.</strong> </div>

<ol class="list-unstyled">
  <li *ngFor="let cols of rows" class="row no-gutters">
    <div *ngFor="let photo of cols" class="col-4">
      <ap-card [title]="photo.description">
        <ap-photo [url]="photo.url" [description]="photo.description">
        </ap-photo>
        <div class="text-center">
          <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2 text-success"></i>{{photo.likes}}
          <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2 text-success"></i>{{photo.comments}}
        </div>
      </ap-card>
    </div>

  </li>
</ol>