<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <div class="form-group">
        <input formControlName="userName" class="form-control" placeholder="user name" autofocus>
        <small *ngIf="loginForm.get('userName').errors?.required" class="text-danger d-block mt-2">
            User name is riquired.
        </small>
        
    </div>

    <div class="form-group">
        <input formControlName="password" type="password" class="form-control" placeholder="password">
        <small *ngIf="loginForm.get('password').errors?.required" class="text-danger d-block mt-2">
            Password is riquired.
        </small>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success btn-block"  >
        login
    </button>

</form>

<p>Not a user? <a>Register now</a></p>